build/
build/*
build*/
jobs/
jobs*/
test/
tmp/
*.root
*log
log
*.log
*.out
*.err
*.tmp
*.bak
*.swp
*.zip
*.rar
*.7z
*.gz
*.bz2
*.tar
*.tgz
*.zip
*.rar
*.7z
*.gz
*.bz2
*.tar
*.tgz
*.zip
*.rar
*.7z
*.gz
*.bz2
*.tar
*.tgz
*.zip
*.rar
*.7z
*.gz
*.bz2
*.tar
*.tgz
*.zip
*.rar
*.7z
.vscode/
